@charset "utf-8";
body,div,ul,ol,li,form{
	padding:0px;
	margin:0px;
	font:12px/20px arial, verdana, tahoma, simsun, '\5B8B\4F53', sans-serif;
	word-break:break-all;
	word-wrap:break-word;
}
body {
	min-width:500px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	overflow-x:hidden;
}
img{border:0;padding-right:10px}
ol,ul{list-style:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
